-- CreateTable
CREATE TABLE \
system_settings\ (
    \id\ SERIAL NOT NULL,
    \key\ VARCHAR(100) NOT NULL,
    \value\ TEXT NOT NULL,
    CONSTRAINT \system_settings_pkey\ PRIMARY KEY (\id\)
);
-- CreateIndex
CREATE UNIQUE INDEX \system_settings_key_key\ ON \system_settings\(\key\);
